.taskItem {
    margin-top: 2px !important;
}

.Calendar-content {
    text-align: left;
    padding: 2px;
}

.Calendar-content>.Calendar-checkbox {
    margin-left: 10px;
}

.ui.label>.check.icon {
    cursor: pointer;
    margin-right: 0;
    margin-left: .5em;
    font-size: .92857143em;
    opacity: .5;
}

.ui.label>.check.icon:hover {
    opacity: 1;
}