/* /* .AddTask-fieldset {
    width: 100%;
}

.AddTask-input {
    width: 150px;
    margin: 5px;
} */

.AddTask-description {
    width: 600px;
    margin: 5px;
}

.AddTask-button {
    float: right;
}